.tooltipInnerText {
  font-size: 80%;
  line-height: 1;
  margin: 1px;
  font-family: "Times New Roman";
  letter-spacing: 95%;
}
.invalidIcon {
  height: 20px;
  width: auto;
}
body {
  font-family: "Times New Roman";
  font-size: 90%;
  letter-spacing: 95%;
}
input {
  text-align: center;
  font-family: "Times New Roman";
  font-size: 90%;
  letter-spacing: 95%;
}
select {
  text-align-last:center;
  font-family: "Times New Roman";
  font-size: 90%;
  letter-spacing: 95%;
}
label {
  font-family: "Times New Roman";
  font-size: 90%;
  letter-spacing: 95%;
}
h1 {
  font-family: "Times New Roman";
  letter-spacing: 95%;
}

.btn-link:disabled {
    background-color: gray;
}

.is-invalid {
  border: dotted 1px red !important;
  /* To keep selects from getting wider when invalid */
  padding-right: 0 !important;
  background-color: white;
  background-image: url('~@/assets/invalid-red.png') !important;
}